
#header{
background-color:  rgb(47,52,63);
}


#main.left > .toolbar{
background-color:  rgb(56,60,74);
}


.tab.active{
background-color:  rgb(56,60,74) !important;
}


.tab{
background-color:  rgb(47,52,63) !important;
}

